<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode>true</interactiveMode>
    <offline>false</offline>

    <profiles>
        <profile>
            <id>codeartifact-pipeline-domain-codeartifact-pipeline-repo</id>
            <repositories>
                <repository>
                    <id>codeartifact-pipeline-domain-codeartifact-pipeline-repo</id>
                    <url>https://codeartifact-pipeline-domain-766888718577.d.codeartifact.us-east-1.amazonaws.com/maven/codeartifact-pipeline-repo/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles/>

    <servers>
        <server>
            <id>codeartifact-pipeline-domain-codeartifact-pipeline-repo</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>codeartifact-pipeline-domain-codeartifact-pipeline-repo</id>
            <name>codeartifact-pipeline-domain-codeartifact-pipeline-repo</name>
            <url>https://codeartifact-pipeline-domain-766888718577.d.codeartifact.us-east-1.amazonaws.com/maven/codeartifact-pipeline-repo/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>